/*body {
    background-image: url("http://www.artleo.com/images/201202/artleo.com_17821.jpg") !important;
    background-size: 100%;
}*/
.mdl-grid {
  margin: auto;
  width: 650px;
  height: 650px;
}

.mdl-grid.tech {
  margin: auto;
  width: 650px;
  height: 200px;
}

.mdl-grid.small {
  margin: auto;
  width: 800px;
  height: 500px;
}
.mdl-cell.mdl-cell--4-col.unclicked {
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 85px 0;
  color: white;
  text-transform: uppercase;
  box-shadow: 2px 2px 2px #888888;
  font-size: 20pt;
  background: #3E4EB8;
}
.mdl-cell.mdl-cell--4-col.clicked {
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 85px 0;
  color: white;
  text-transform: uppercase;
  box-shadow: 2px 2px 2px #888888;
  font-size: 20pt;
  background: #737fd0;
}
.mdl-cell.mdl-cell--1-col.unclicked {
  width: 65px;
  height: 65px;
  text-align: center;
  padding: 5px 0;
  color: white;
  text-transform: lowercase;
  box-shadow: 2px 2px 2px #888888;
  background: #3E4EB8;
}
.small-print {
  text-align: right;
  font-style: italic;
}
.small-print-button {
    text-align: right;
    font-style: normal;
    padding-bottom: 5px;
}
.search-button {
  margin: auto;
  text-align: center;
  width: 256px;
  height: 30px;
  
}
/*.mdl-button--raised.main {
  text-transform: uppercase;
  font-size: 16pt;
  padding: auto;
  width: 200px;
  height: 32px;
  background: #AED073;
}*/

/*.mdl-button {

}*/
.div-holder {
  margin: auto;
  width: 650px;
  height: 120px;
}
.div-holder-medium {
  margin: auto;
  width: 650px;
  height: 70px;
}
.div-holder-span {
  margin: auto;
  width: 650px;
  height: 400px;
}
.main-holder {
  margin: auto;
  width: 650px;
  height: 650px;
}
.demo-card-event.mdl-card {
  width: 256px;
  height: 256px;
  background: #3E4EB8;
}
.demo-switch{
  padding:60px;
}

/* /cafe route css below */
.cafe-list-holder {
  margin: auto;
  width: 650px;
}

.div-holder-two {
  margin: auto;
  text-align: center;
  width: 650px;
  height: 100px;  
}
.div-holder-three {
  margin: auto;
  text-align: center;
  width: 650px;
  height: 180px;  
}
.header-component {
  margin: auto;
  text-align: center;
  width: 650px;
  height: 70px;  
}
.div-holder-no-height {
  margin: auto;
  width: 650px;
}
.mdl-data-table {
  margin: auto;
}
.expand-holder {
  text-align: right;
}
.pref-span {
  height: 70px;
  width: 70px;
  text-transform: uppercase;
  text-align: center;
  font-size: 10pt;
  padding-right: 5px;
  padding-top: 5px;
  background: #737fd0;
}
#pref-number {
  font-size: 20pt;
  color: white;
  text-align: center;
  padding: 3px;
}
.cafe-header {
  margin: auto;
  text-transform: uppercase;
  color: #3E4EB8;
  text-align: center;
}
.button-holder {
  padding-bottom: 5px;
  text-align: right;
}
.button-holder {
  padding-bottom: 5px;
  text-align: left;
}
#buttonImage {
  height: 20px;
  width: 20px
}

/*$primary-color: #03a9f4;
$gray: #ccc;

*,
*:after,
*:before {
  box-sizing: border-box;
}
*/

.map-div {
  height: 300px;
  width: 650px;
}
.map-span {
  align: float;
  width: 250px;
  height: 250px;
  margin-top: 5px;
  display: inline-block;
}

.update-span {
  padding-left: 20px;
  align: float;
  width: 300px;
  margin: 10px;
  display: inline-block;
  font-size: 2em;
}

#fav {
  margin-bottom: 20px;
  padding-bottom: 5px;
}

#checkin {
  margin-bottom: 60px;
}

#address {
  padding-top: 10px;
  padding-bottom: 30px;
}

.react-sanfona {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 30px;
}

.react-sanfona-item-title {
    background-color: #03a9f4;
    border-bottom: 1px solid #ccc;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px #888888;
    transition: background-color .3s;
    font-size: 20pt;
}
.react-sanfona-item:first-child-title {
  border-top: none;
}

.react-sanfona-item-expanded-title {
  background-color: #03a9f4;
  color: #fff;
}

.react-sanfona-item-body-wrapper {
  color: #666;
  padding: 20px;
  position: relative;
}
.react-sanfona-item-body-wrapper:hover .tooltip {
  opacity: 1;
}

.react-sanfona-item-body-wrapper-img {
  display: block;
  max-width: 100%;
}
.tooltip {
  background-color: #000;
  bottom: -10px;
  border-radius: 3px;
  color: #fff;
  left: 10px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  transition: opacity .3s;
}

/* style for user profile page*/
.avatar {
  width: 75px;
  height: 75px;
}

/* style for header Component */
.headerBtn {
  float: left;
}

.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}

/*style for about page*/

img {
    max-width:100%;
    max-height:100%; 
}

.teamHeader {
    text-align: center;
}

.textBlock {
    display: inline-block;
    text-align: center;
    margin: auto;
}

.techIcon {
  text-align: center;
}

